{% assign certifications = site.data.data.certifications %}
{% if certifications %}
<div class="education-container container-block">

  <h2 class="container-block-title">
    {{ certifications.title }}
  </h2>

  {% for certifications in certifications.list %}
  <div class="item">
    <h4 class="degree">{{ certifications.name }}</h4>
      <!-- <a
        href="//{{ certifications.credentialurl }}"
        target="_blank"
        rel="noreferrer nofollow noopener"
        >{{ certifications.name }}</a> -->
    </h4>
    <h5 class="meta">{{ certifications.organization }}</h5>
    <div class="time">{{ certifications.start }}</div>
  </div><!--//item-->
  {% endfor %}

</div><!--//certifications-->
{% endif %}
